@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #3b82f6;
  --color-secondary: #6b7280;
  --color-danger: #ef4444;
  --text-color: #000;
  --bg-color: #fff;
}

.dark {
  --color-primary: #2563eb;
  --color-secondary: #4b5563;
  --color-danger: #dc2626;
  --text-color: #fff;
  --bg-color: #1f2937;
}

body { 
   font-family: Arial, Helvetica, sans-serif;
}

a {  
  color: var(--text-color);  
}

button:hover,
a:hover {
  background-color: var(--color-primary);
  color: white;
}


