.message-layout{ 
    height: 100vh;
    display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            "sidebar"
                        
    }

@media (min-width: 768px) {
    .message-layout {       
             
        grid-template-columns: 400px 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
                "sidebar message"
               
                       
    }
}