.message-layout{ 
    height: 100vh;
    display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas:
            "header"
            "message"
            "footer"
    }

@media (min-width: 768px) {
    .message-layout {       
             
        grid-template-columns: 400px 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas:
                "sidebar header"
                "sidebar message"
                "sidebar footer"       
    }
}