@media (max-width: 767px) {
    .sidebar-container {       
        position: fixed;
        top: 0;
        left: 0;
        z-index: 40;
        width: 250px;        
        height: 100vh;        
    }
}

@media (min-width: 768px) {
    .sidebar-container {
    grid-area: sidebar;    
    }
}