@use 'base';
@use 'layout';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-sidebar: #bbbcbd;  
  --bg-main: #15499e; 
  --bg-menu: #dbdcde;
  --bg-button: #0856f2;
  --bg-button-hover: #f87171;
  --color-text: black;
}

.dark {
  --bg-sidebar: #2a2d32; 
  --bg-main: #081f43;
  --bg-menu: #2a2d32;
  --bg-button: #083fae;
  --bg-button-hover: #f87171;
  --color-text: #fff;
}



body { 
  font-family: 'Roboto', sans-serif;
   color: var(--color-text);
    width: 100%;
      height: 100vh;
    
}

button {
color: inherit;
}




// @media (min-width: 1280px) {
//   body {
//     width: 1280px;
//     margin: 0 auto;
//   }
// }






