@use 'base';
@use 'layout';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-one: #bbbcbd;  
  --bg-two: #15499e;  
  --bg-transparent: transparent;
  --hover: #f87171;
  --text-button: #fff;  
  --text: black;
  --border-gray: #6b7280;
  --border-red: #f87171;  
}

.dark {
  --bg-one: #2a2d32; 
  --bg-two: #081f43;   
  --text: #fff;
}

body { 
  font-family: 'Roboto', sans-serif;
  color: var(--text);
  width: 100%;
  height: 100vh;
    
}

button {
color: inherit;
}











