@use 'base';
@use 'layout';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-sidebar: #15499e;
  --bg-header: #7d7f83;
  --bg-main: #dbdcde;
  --bg-footer: #7d7f83;
  --color-text: black;
}

.dark {
  --bg-sidebar: #081f43;
  --bg-header: #1e2023;
  --bg-main: #2a2d32;
  --bg-footer: #1e2023;  
  --color-text: #fff;
}

body { 
   font-family: Arial, Helvetica, sans-serif;
   color: var(--color-text);
}

// @media (min-width: 1280px) {
//   body {
//     width: 1280px;
//     margin: 0 auto;
//   }
// }






